  /* Dark */
:root {
    --bgcolor: #1a1b1f;
    --header: #262931;
    --heading: #fff;
    --logo: #0080FF;
    --link: #abc7ff;
    --code: #abc7ff6c;
    --localLink: #c4c6d0;
    --menuBar: #abc7ff;
    --text: rgb(240, 246, 255);
    --scrollBarTrack: #424242;
    --scrollBarThumb:#686868;
    --scrollBarHover: #7d7d7d;
    --color-code: #d3bbff;
    --color-red: #ffb4aa;
    --color-green: #55e16b;
    --color-orange: #ffb874;
    scroll-behavior: smooth;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 10px;

  }
  pre::-webkit-scrollbar {
    height: 7px;

  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  
  /* width */
  code::-webkit-scrollbar {
    width: 10px;

  }
  code::-webkit-scrollbar {
    height: 8px;
  }
  /* Track */
  code::-webkit-scrollbar-track {
    background: transparent; 
  }
   
  /* Handle */
  code::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 5px;
  }
  
  /* Handle on hover */
  code::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
body{
    margin: 0%;
    box-sizing: border-box;
    background-color: var(--bgcolor);
    font-family: Inter,-apple-system,system-ui,Helvetica Neue,Helvetica,Arial,sans-serif;
    color:var(--text);

}
a{
    color: var(--link);
    text-decoration: none;
}
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXX--------Header--------XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0rem ;
    left: 0px;
    width: 100%;
    box-sizing: border-box;
    padding: 1.5rem 4rem;
    background-color: var(--header);
    font-size: 1.6rem;
}
.logoContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 10rem;
    font-weight: bold;
}
#logo{
    width: 35px;
    height: auto;
    fill: var(--logo);
}
#navigation{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 2.2rem;
    height: 1.4rem;
    justify-content: space-between;
    cursor: pointer;
}
.menuLine{
    width: 70%;
    height: 0.2rem;
    background-color: var(--menuBar);
    border-radius: 2px;
    box-sizing: border-box;
    transition: 0.5s;
}
.middleline{
    width: 100%;

}
#navigation:hover .menuLine{
    width: 100%;
}
#navigation:hover .middleline{
    width: 70%;
}
#navigation:active .menuLine{
    width: 100%;
}
#navigation:active .middleline{
    width: 70%;
}
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXX--------Main--------XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
main{
    margin:9rem 35rem 0 7rem; 
    font-size: 1.2rem;
    height: 100vh;
}
main p{
    font-size: 1.1rem;
}
main #heading{
    margin: 3rem 0;
}
main h2:hover::before{
content: '# ';
color: var(--link);
cursor: pointer;
}
code{
    background-color: var(--code);
    padding: 1rem;
    margin-left: 1rem;
    max-width: 50rem;
    display: block;
    overflow-x: scroll;
    box-sizing: border-box;
    border-radius: 15px;
    white-space: nowrap;
}

.topics{
    width: 95%;
    margin-top: 1rem;
    margin-bottom: 4rem;
}

/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXX--------Aside--------XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
aside{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: larger;
    width: 35rem;
    position: fixed;
    right: 0px;
    top: 7rem;
    height: 100vh;
    transition: 0.5s;
}
aside ul{
    overflow: auto;
    width: 15rem;
}
aside h3{
    font-size: 1.3rem;
  
}
aside li{
    list-style: none;
}
aside li::before{ 
  
    content: url('../images/aside_arrow.svg'); 

    margin-right: 1rem;
} 
li{
    margin-bottom: 1rem;
}
aside a{
    color: var(--localLink);
}
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXX--------Code Highlighting--------XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
.redText{
    color: red;
}
.greenText{
    color: green;
}




/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXX--------Responsive--------XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

@media screen and (max-width:1090px) {
    aside{
        background-color: var(--header);
        top: 5rem;
        width: 20rem;
        right: -100%; 
    }

    main {
        margin: 9rem 4rem 0 4rem;
    }
}
@media screen and (max-width:500px) {
    code{
        margin-left: unset;
    }
    aside{
        width:100%;
    }
    .asideContentContainer h2{
        margin-left: 1rem;
    }
    .asideContentContainer, aside ul{
        width: 100%;
        max-width: 28rem;
    }
    main {
        margin: 8rem 2rem 0 1rem;
        font-size: 1.1rem;
    }
    main p {
        font-size: 1rem;
    }
    header {
        padding: 1rem;
    }
    main #heading {
        margin: 2rem 0;
    }
    aside {
        top: 4rem;
    }
    .logoContainer {
        width: 7rem;
        font-size: 1.1rem;
    }
    #logo {
        width: 25px;
    }
    #navigation {
        width: 1.8rem;
        height: 1.3rem;
    }
    .menuLine {
        height: 0.15rem;
    }
}

@media screen and (max-width: 400px){
main {
    margin: 9rem 0.5rem;
}
.topics{
    width: unset;
}
}